.width-100 {
  width: 100%;
}
.margin-top-20 {
  margin-top: 20px;
}
.padding-20 {
  padding: 20px;
}
.semi-bold {
  font-weight: 500;
}
.card-title-height {
  height: 65px;
}
.single-gym-width {
  width: calc(100% - 40px);
}
.single-chart-width {
  align-self: center;
  width: 60%;
}

@media screen and (min-width: 768px) {
  .single-gym-width {
    width: calc(50% - 40px);
  }
}

@media screen and (min-width: 1024px) {
  .single-gym-width {
    width: calc(33.33% - 40px);
  }
  .single-chart-width {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .single-gym-width {
    width: calc(25% - 40px);
  }
}

/* LOADER */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(54, 162, 235, 0.4);
  border-right: 1.1em solid rgba(54, 162, 235, 0.4);
  border-bottom: 1.1em solid rgba(54, 162, 235, 0.4);
  border-left: 1.1em solid rgba(54, 162, 235, 0.8);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
